includes:
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/wernerdweight/cs/src/Rules/phpstan-rules.neon

parameters:
    ignoreErrors:
        - '#Static call to instance method Doctrine\\Inflector\\Inflector::singularize\(\).#'
