services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    WernerDweight\DoctrineCrudApiBundle\:
        resource: '../../*'
        exclude: '../../{DependencyInjection,Exception}'

    WernerDweight\DoctrineCrudApiBundle\Controller\:
        resource: '../../Controller'
        tags: ['controller.service_arguments']

    WernerDweight\DoctrineCrudApiBundle\Service\Data\ServiceEntityRepositoryFactory:
        arguments:
            $repositories: !tagged doctrine.repository_service

    WernerDweight\DoctrineCrudApiBundle\Mapping\MappingEventSubscriber:
        tags: ['doctrine.event_subscriber']

    WernerDweight\DoctrineCrudApiBundle\Mapping\Driver\:
        resource: '../../Mapping/Driver/*'
        exclude: '../../Mapping/Driver/Abstract*'
        tags:
            - { name: 'crud_api.driver' }

    WernerDweight\DoctrineCrudApiBundle\Mapping\DriverFactory:
        arguments:
            $drivers: !tagged crud_api.driver

    WernerDweight\DoctrineCrudApiBundle\Mapping\Type\Xml\:
        resource: '../../Mapping/Type/Xml/*'
        exclude: '../../Mapping/Type/Xml/Abstract*'
        tags:
            - { name: 'crud_api.mapping_type.xml' }

    WernerDweight\DoctrineCrudApiBundle\Mapping\Type\Factory\XmlMappingTypeFactory:
        arguments:
            $types: !tagged crud_api.mapping_type.xml

    WernerDweight\DoctrineCrudApiBundle\Mapping\Type\Annotation\:
        resource: '../../Mapping/Type/Annotation/*'
        exclude: '../../Mapping/Type/Annotation/Abstract*'
        tags:
            - { name: 'crud_api.mapping_type.annotation' }

    WernerDweight\DoctrineCrudApiBundle\Mapping\Type\Factory\AnnotationMappingTypeFactory:
        arguments:
            $types: !tagged crud_api.mapping_type.annotation

    WernerDweight\DoctrineCrudApiBundle\Service\ConditionGenerator\ConditionGeneratorFactory:
        arguments:
            $conditionGenerators: !tagged crud_api.condition_generator

    WernerDweight\DoctrineCrudApiBundle\Service\ConditionGenerator\Generator\:
        resource: '../../Service/ConditionGenerator/Generator/*'
        exclude: '../../Service/ConditionGenerator/Generator/Abstract*'
        tags:
            - { name: 'crud_api.condition_generator' }
